

@model SPFS.Models.ExcelRatingsViewModel

@{
    var count = ViewBag.Count;
    if (count > 0)
    {
        <script type="text/javascript">
            $(".Merge").hide();
        </script>

    }
}

@using (Html.BeginForm())
{
    <h2>Uploaded Records</h2>
    <hr />

    <div class="alert alert-warning" id="ErrorCount" value="@count">
        <strong>Warning!</strong> there are @count error records in this Upload.
    </div>

    <div class="row col-md-12">
        <div class="pull-right">
            @*<a href="@Url.Action("Save", "ExcelUpload")" class="btn btn-primary btn">
                    <span class="glyphicon glyphicon-floppy-save"></span> Save
                </a>*@
            @*@if (ViewBag.ShowMerge)
                {*@
            <a href="@Url.Action("Merge", "ExcelUpload")" class="btn btn-primary btn Merge" style="display: none;">
                <span class="glyphicon glyphicon-random"></span> Merge
            </a>


            <a href="@Url.Action("ExportData", "ExcelUpload", new { fileName = "UploadedFile", Records = Model.RatingRecords })" class="btn btn-primary btn">
                <span class="glyphicon glyphicon-export"></span> Export
            </a>
        </div>
    </div>
    <div id="divexcellist" class="row" style="margin-top: 5px; padding-left:25px">
        @Html.Partial("_ExcelList", Model)

    </div>

        <div class="row col-md-12">
            <div class="pull-right">
                @*<a href="@Url.Action("Save", "ExcelUpload")" class="btn btn-primary btn">
                        <span class="glyphicon glyphicon-floppy-save"></span> Save
                    </a>*@

                <a href="@Url.Action("Merge", "ExcelUpload")" class="btn btn-primary btn Merge" style="display: none;">
                    <span class="glyphicon glyphicon-random"></span> Merge
                </a>

                <a href="@Url.Action("ExportData", "ExcelUpload", new { fileName = "UploadedFile", Records = Model.RatingRecords })" class="btn btn-primary btn">
                    <span class="glyphicon glyphicon-export"></span> Export
                </a>
            </div>
        </div>
        @*<div>@Html.DropDownList("selectSupplierID", ViewBag.Suppliers as IEnumerable<SelectListItem>, "",
                                                        new { @class = "selectpicker col-md-10", data_live_search = "true", data_size = "10" })
            </div>*@

        <div id="popm3" style="overflow: auto;">

            <div class="row col-md-12" style="margin-top: 10px">
                <div class="row">
                    <div class="col-md-10 input-group">
                        @*@Html.Label("Search by")*@

                        @Html.TextBox("search", "", new { @class = "form-control", id = "SupplierID", maxlength = "30", placeholder = "Search by Supplier Name ..." })
                        <span class="input-group-btn">
                            <button id="btnFilter" type="button" value="Search" class="btn btn-primary ">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btnOKNotes">
                            <span class="glyphicon glyphicon-floppy-save"></span>
                            <span>OK</span>
                        </button>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.DropDownList("selectSuppliers", ViewBag.Suppliers as IEnumerable<SelectListItem>, new { @class = "form-control", style = "width: 500px ; border-radius:5px", size = 10, id = "selectSupplierID" })
                        </div>
                    </div>

                </div>

            </div>

        </div>
}
<script type="text/javascript">

    //Load Cluster information when area change.
    //$('#SupplierID').change(function () {
    //    var SupName = $('#SupplierID').val();
    //    SearchSupplierByName(SupName);

    //});

    $(function () {
        //Sorting
        $(document).on("click", "#btnFilter", function () {
            var SupName = $('#SupplierID').val();
            SearchSupplierByName(SupName);

        });

        function SearchSupplierByName(SupName) {
            $.ajax({
                url: '@Url.Action("GetSupplierbyName", "ExcelUpload")',
                //Passes the content of an input up
                data: { nameString: SupName },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                async: false,
                cache: true,

                success: function (data) {
                    $('#selectSupplierID').find('option').remove();
                    $.each(data, function (i, optionData) {
                        $('#selectSupplierID').append($('<option></option>').val(optionData.Value).html(optionData.Text));
                    });
                }
            });
        };

        $('.btnSearch').bind("click", function () {
            var rowIndex = $(this).attr('data-RowId');
            rowID = rowIndex;
            //$('#SupplierID').val('');
            //SearchSupplierByName('');
            //assignNotesId = "Sessions_" + $(this).attr('data-iid') + "__" + $(this).attr('data-idName');
            //$("#popupNotes").val($("#" + assignNotesId + "")[0].value);
            $("#popm3").dialog('option', 'title', "Select Supplier");
            $("#popm3").dialog("open");

        });

        var Rcount = 0;
        $('.btnOKNotes').bind("click", function () {

            //$("#popupNotes").val($("#" + assignNotesId + "")[0].value);
            //var notes = $(this).parent().parent().children().find(".assignmentNotemsg")[0].value;
            //var SessionStartTime = $(this).parent('td').parent('tr').find('td:eq(2) select option:selected').val();
            var selectedText = $("#selectSupplierID").find("option:selected").text();
            var selectedValue = $("#selectSupplierID").val();


            $.ajax({
                url: '@Url.Action("UpdateRecord", "ExcelUpload")',
                //Passes the content of an input up
                data: { CID: selectedValue, Name: selectedText, Rowid: rowID },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                //async: false,
                success: function (data) {

                    var supplierRow = document.getElementById(rowID);

                    //update CID which is the 1st td element
                    supplierRow.cells[0].innerHTML = data.CID;

                    //update DUNS which is the 2nd td element
                    supplierRow.cells[1].innerHTML = data.DUNS;
                    
                    var spanstring = '<span class="glyphicon glyphicon-ok fixedClass" title="row updated" id="status">  Fixed</span>'
                    //var spanstring = '<h4><span class="label label-success">Success</span></h4>'
                    supplierRow.cells[7].innerHTML = spanstring;

                    Rcount++;

                    var jcount = parseInt($("#ErrorCount").attr('value'), 10);
                    jcount = jcount - Rcount;

                    if (jcount > 0) {
                        $("#ErrorCount").html(" <strong>Warning!</strong> there are " + jcount + " error record(s) in this Upload now.");


                    }
                    else {
                        $("#ErrorCount").html(" <strong>Success!</strong> All errors are fixed Now. Please proceed to merge.");
                        $("#ErrorCount").removeClass("alert alert-warning").addClass("alert alert-success");
                        $(".Merge").show();
                    }

                    $("#popm3").closest('.ui-dialog-content').dialog("close");
                }
            });

        });



        $('#popm3').dialog({
            autoOpen: false,
            width: 600,
            height: 300,
            resizable: false,
            title: 'Select Supplier',
            modal: true,
            open: function (event, ui) {

            }
        });
        //var tableOffset = $("#errortable").offset().top;
        //var $header = $("#errortable > thead").clone();
        //var $fixedHeader = $("#header-fixed").append($header);

        //$(window).bind("scroll", function () {
        //    var offset = $(this).scrollTop();

        //    if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
        //        $fixedHeader.show();
        //    }
        //    else if (offset < tableOffset) {
        //        $fixedHeader.hide();
        //    }
        //});
    })
</script>